@model IEnumerable<ASPSchoolAppClient.Models.Attendance>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<table class="table table-bordered table-condensed table-hover table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Present)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Absent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Present)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Absent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    <a class="btn btn-success" onclick="Edit('@Url.Action("AddorEdit", "Attendance", new { id=@item.AttendanceID })')"> <i class="fa fa-edit"></i> Edit</a>
                    <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete", "Attendance", new { id=@item.AttendanceID })')"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
