@model IEnumerable<ASPSchoolAppClient.Models.Notice>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<table class="table table-bordered table-condensed table-hover table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-success" onclick="Edit('@Url.Action("AddorEdit", "Notice", new { id=@item.NoticeID })')"> <i class="fa fa-edit"></i> Edit</a>
                <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete", "Notice", new { id=@item.NoticeID })')"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>
