@model IEnumerable<ASPSchoolAppClient.Models.Slider>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}


<table class="table table-bordered table-condensed table-hover table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    <a class="btn btn-success" onclick="Edit('@Url.Action("AddorEdit", "Slider", new { id=@item.SliderID })')"> <i class="fa fa-edit"></i> Edit</a>
                    <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete", "Slider", new { id=@item.SliderID })')"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
